 .gradio-container.app {
    height: auto !important;
}

#video_input video {
    max-width: 100% !important;
    max-height: 500px !important;
    aspect-ratio: 3/4;
}

#video_input {
    flex-grow: 0 !important;
}

video {
    background-color: #fff !important;
}

#model_output {
    max-height: 500px !important;
}

.download {
    visibility: hidden;
}

/*.tab-nav {*/
/*    pointer-events: none;*/
/*}*/

.popover_wrapper {
    position: relative;
    display: inline-block;
    width: fit-content;
}

span {
    line-height: 2;
}

.popover_title {
    text-decoration: underline;
    color: #605ce5 !important;
    text-align: center;
    padding: 15px 0;
}

.popover_content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    border-radius: 10px;
    left: -140px;
    transform: translate(0, 10px);
    background-color: #FEFEFE;
    padding: 1rem;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.4);
    width: auto;
}

.popover_content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #FEFEFE transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.popover_wrapper:hover .popover_content {
    z-index: 100;
    opacity: 1;
    visibility: visible;
    transform: translate(100px, 5px);
    /* # transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97); */
}

.popover_message {
    text-align: center;
}

.section_title {
    padding-top: 4px;
    padding-left: 4px;
    margin-bottom: -8px;
}

.section_title p {
    color: #9ca3af !important;
}

.thumbnail-item.selected {
    border-color: #fb923c !important;
    border-width: 2px;
}

.model3D {
    background: linear-gradient(45deg, #ccc 0%, rgba(204, 204, 204, 0.2) 25%, transparent 50%, rgba(204, 204, 204, 0.2) 75%, #ccc 100%), linear-gradient(135deg, #ccc 0%, rgba(204, 204, 204, 0.2) 25%, transparent 50%, rgba(204, 204, 204, 0.2) 75%, #ccc 100%);
    /* # background-position: 0 0,4px 4px; */
    /* # background-size: 8px 8px; */
}

#babylonjsLoadingDiv {
    background-color: white !important;
}

#babylonjsLoadingDiv img {
    content: url("https://img.alicdn.com/imgextra/i4/O1CN01kpkVcX1wSCO362MH4_!!6000000006306-1-tps-805-805.gif");
    width: 80px !important;
}

#babylonjsLoadingDiv div img {
    visibility: hidden;
}

.project_vid {
    height: 110px !important;
    max-height: 110px !important;
    aspect-ratio: 1;
    overflow: hidden;
    object-fit: cover;
    /* margin: 8px;  */
    border-radius: 8px;
    border-width: 1px;
    border-color: #e5e7eb;
}

.project_vid:hover {
    border-width: 0;
}

.project_vid_container {
    margin-right: 8px;
    position: relative;
    border-radius: 8px;
    border: 2px solid transparent;
}

.project_vid_container.selected {
    border: 2px solid #fb923c;
}

.project_status_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #232631cc;
    border-radius: 8px;
}

#featured_samples .thumbnail-item {
    max-width: 300px;
    max-height: 300px;
    margin-right: 8px;
    box-shadow: none;
}

#featured_samples {
    display: flex;
}

#example_videos {
    display: flex
}

#example_videos .thumbnail-item {
    aspect-ratio: 1;
    height: 110px !important;
    box-shadow: none !important;
}

#example_videos .grid-wrap.svelte-g4rw9 {
    padding: 0;
}

#share_checkbox {

}

.form.svelte-b6y5bg {
    background: transparent;
    border: none;
    box-shadow: none !important;
}

#upload_btn {
    flex-grow: 0 !important;
    background: #624AFF;
    color: white;
}

.model_container {
    border-radius: 8px;
    border-color: #e5e7eb;
    border-width: 1px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.model_viewer {
    background: #F0F0F0;
}

#model_viewer_container {
    height: 100%;
}

.model_video_item_container {
    width: 32%;
    position: relative;

    #actions_container {
        position: absolute;
        top: 10px;
        right: 10px;
        display: none;
        gap: 8px
    }
}

.model_video_item {
    border-radius: 8px;
    border-color: #e5e7eb;
    /* border-width: 1px; */
    /* min-width: 320px; */
    /* min-height: 180px; */
    aspect-ratio: 16/9;
    width: 100%;
    /* box-shadow: 2px 2px 4px 0px #ccc; */
    background-size: contain;
    margin-bottom: 4% !important;
}

.prose :last-child.model_video_item {
    margin-bottom: 4% !important;
}

.featured_model_list_container {
    position: relative;
    display: flex;
    width: 100%;
    /* margin: auto; */
    flex-wrap: wrap;
    gap: 2%;
}

.center_for_one {
    justify-content: center;
}

.svelte-1ed2p3z {
    height: 100%;
}

#model_state_container {
    height: 100%;
}

.gallery-item img {
    max-width: 100%;
    height: 110px;
    max-height: 110px !important;
    border-width: 1px;
}

#example_videos .gallery-item {
    border: 2px solid transparent !important;
}

#example_videos .gallery-item.selected {
    border: 2px solid #fb923c !important;
}

#example_videos .gallery-item img.selected {
    border: none !important;
}

#example_videos .label {
    display: none;
}

#example_videos .gallery {
    gap: 4px;
    flex-wrap: nowrap;
}

#video_uploader {
    height: 60px !important;
}

* {
    border-radius: 0 !important;
}

.step_container {
    width: 31%;
    /* background: #e5e7eb; */
    text-align: center;
    padding: 12px;
}

.action_btn {
    background: #624AFF !important;
    color: #ffffff !important;
    padding: 6px 12px !important;
    margin: 6px auto !important;
    /*min-width: 100px;*/
    cursor: pointer;
}

.prose :last-child .action_btn {
    margin-bottom: 6px !important;
}

.action_btn:disabled {
    cursor: default;
    opacity: 0.6 !important;
}

#share_check:checked {
    background-color: #624AFF !important;
}


#fade {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

#light {
    display: none;
    position: absolute;
    top: 0;
    left: 30%;
    max-width: 40%;
    aspect-ratio: 4/3;
    /* max-height: 450px; */
    /* margin-left: -300px; */
    /* margin-top: -180px; */
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
}

.unpadded_box {
    flex-flow: column !important;
}

.icon.svelte-lk9eg8 {
    opacity: .3;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: white;
    margin: 20% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    position: relative;
    display: block;
    text-align: center;
    min-width: 400px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 2px;
    right: 8px;
    color: #aaa !important;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;

}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a {
    position: relative;
    display: inline-block;
}

.action_img {
    width: 30px;
    border-radius: 15px !important;
    background: white;
}

a[data-tooltip]:hover:after {
    content: attr(data-tooltip);
    padding: 4px 8px;
    color: white;
    position: absolute;
    border-radius: 2px;
    left: 0;
    top: -120%;
    white-space: nowrap;
    z-index: 2;
    background: black;
}

a[data-tooltip]:hover:before {
    position: absolute;
    z-index: 10;
    content: "";
    left: 10%;
    top: calc(-120% + 24px);
    border-style: solid;
    border-width: 8px 8px 8px 8px;
    border-color: black transparent transparent transparent;
}

#search_input_txt {
    border: #6b7280 solid 1px;
    background-color: #f6f6f6;
    display: flex;
}

#search_input_txt label {
    margin: auto;
}

#search_input_txt .svelte-e8n7p6 {
    font-size: 14px;
}

#search_btn, #t2m_btn {
    background: #624AFF;
    color: white;
}

#or_label {
    width: fit-content;
    flex: none;
    margin: auto;
}

/* Style the buttons inside the tab */
.tab {
    display: flex;
}

.tab button {
    background-color: white;
    outline: none;
    cursor: pointer;
    /*padding: 8px 16px;*/
    /*transition: 0.3s;*/
    font-size: 15px;
    width: 50%;
    margin-bottom: 0 !important;
    height: 40px;
    color: rgba(0, 0, 0, 0.5) !important;
    border: solid 1px #e5e7eb;
    border-bottom: none;
}

/* Change background color of buttons on hover */
.tab button:hover {
    /*background-color: #DDDDDD99;*/
}

/* Create an active/current tab item class */
.tab button.active {
    /*background-color: #ddd;*/
    color: black !important;
    border-bottom: solid 2px #624AFF;
}

.tab-content {
    height: calc(100% - 40px);
}

.example_btn {
    background: white !important;
    font-weight: normal !important;
    font-size: 14px !important;
    justify-content: left !important;
}

#t2m_result_container {
    height: inherit;
}

#t2m_dataset_container .gallery {
    display: block;
}

#t2m_dataset_container .gallery-item {
    display: block;
    width: 100%;
    padding: 4px;
    text-align: left;
    border-bottom: none;
}

#t2m_dataset_container .gallery-item:last-child {
    border-bottom: 1px solid #e5e7eb;
}

#t2m_dataset_container .label {
    display: none;
}

#t2m_input {
    background: #f6f6f6;
}

#t2m_input .container div {
    font-size: 14px;
    text-align: center;
    padding: 4px;
}

/*.tab-nav button:last-child, .tab-nav button:nth-last-child(2) {*/
/*    pointer-events: none;*/
/*}*/

#sd_model_actions, #hd_model_actions {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    gap: 12px
}

#image_selector {
    background-color: #f6f6f6;
}

#search_type_radio label {
    border: none;
    background: none;
    box-shadow: none;
}

#search_type_radio input {
    border-radius: 0.5rem !important;
}

#search_type_radio {
    margin-bottom: -14px !important;
}


/**media sources**/
#app_qrcode {
    content: url("https://modelscope.cn/api/v1/studio/Damo_XR_Lab/3D_AIGC/repo?Revision=master&FilePath=resource/app_qrcode.jpg&View=true");
}

#feedback_qrcode {
    content: url("https://modelscope.cn/api/v1/studio/Damo_XR_Lab/3D_AIGC/repo?Revision=master&FilePath=resource/feedback_qrcode.JPG&View=true");
}

#download, #sd_download, #hd_download {
    content: url("https://modelscope.cn/api/v1/studio/Damo_XR_Lab/3D_AIGC/repo?Revision=master&FilePath=resource/download.png&View=true");
}

#share, #sd_share, #hd_share {
    content: url("https://modelscope.cn/api/v1/studio/Damo_XR_Lab/3D_AIGC/repo?Revision=master&FilePath=resource/share.png&View=true");
}

#build_failed {
    content: url("https://modelscope.cn/api/v1/studio/Damo_XR_Lab/3D_AIGC/repo?Revision=master&FilePath=resource/close.png&View=true");
}

#arrow1 {
    content: url("https://modelscope.cn/api/v1/studio/Damo_XR_Lab/3D_AIGC/repo?Revision=master&FilePath=resource/arrow.png&View=true");
}

#arrow2 {
    content: url("https://modelscope.cn/api/v1/studio/Damo_XR_Lab/3D_AIGC/repo?Revision=master&FilePath=resource/arrow.png&View=true");
}

#double_arrow {
    content: url("https://modelscope.cn/api/v1/studio/Damo_XR_Lab/3D_AIGC/repo?Revision=master&FilePath=resource/double_arrow.png&View=true");
}

@media screen and (max-width: 480px) {
    .model_video_item_container {
        width: 49%;

        #actions_container {
            display: grid;
            top: 6px;
            right: 6px;
            gap: 4px
        }
    }
}